#er{
    height: 800px;
    width: 2400px;
}
.animal{
    height: 300px;
    width: 300px;
        background-color: grey;
}
.buttons{
    width: 850px;
}
.button{
    width: 800px;
    height:100px;
}
.none{
    display:none;
}
div.imagetext{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 320px;
}
.textunder{
    display: block;
    font-size:large;
}