.error{
    font-size:20px;
    color:red;
}
#er{
    height: 600px;
    width: 1200px;
}
.animal{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: orange;
}
.button{
    width: 200px;
    height:50px;
    margin:auto;
    font-size: 20px;
}
.none{
    display:none;
}
div.imagetext{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 320px;
}
.textunder{
    display: block;
    font-size:large;
}
form{
    text-align:center;
}
li{
    display: inline;
    margin:20px;
}

body{
    background: white;
    height: auto;
    background-color:lightskyblue;
    width:960px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
header {
    font-size: 20px;
    color:white;
    width:100%;
    height:150px;
    background-color:royalblue;
    border:3px solid white;
    width:960px;
    top: 0px;
    margin:0px auto;
    text-align:center;
    background-image: url('https://ltrinity.w3.uvm.edu/cs148_develop/animalsoundquiz/photos/lions.jpg'),
        url('https://ltrinity.w3.uvm.edu/cs148_develop/animalsoundquiz/photos/elephants.jpg');
    background-position: left, right;
    background-size: 300px 150px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    text-shadow: 0px -2px black;
}
.moderate{
    font-size: 20px;
}
a{
    text-decoration: none;
    color:white
}
a:hover{
    color: gold;
}
ol{
    padding: 0px;
        border:2px solid white;
}
nav{
    background-color:grey;
    width:200px;
    margin:auto;

}
#register{
    display:block;
}
#userInformation{
    float:right;
}
#startQuiz{
    margin:auto;
}
table{
    margin-left: 2cm;
}
table, th, td{
   text-align:center;
   border: 1px solid white;
   padding: 15px;
}
th{
    background-color: white;
}
.odd{
    background-color: white;
}
#profile{
    float:left;
}
.large{
    font-size: 30px;
}
.correct{
    background-color:lightgreen;
}
.incorrect{
    background-color:lightsalmon;
}